/Kf.Redis/Kf.Redis/obj
/HttpHelperV2.1/CsharpHttpHelper/*.user
/HttpHelperV2.1/CsharpHttpHelper/obj
/HttpHelperV2.1/CsharpHttpHelper/bin
/HttpHelperV2.1/CsharpHttpHelper_Demo/*.user
/HttpHelperV2.1/CsharpHttpHelper_Demo/bin
/HttpHelperV2.1/CsharpHttpHelper_Demo/obj
/Kf.Redis/Kf.RedisConfig4.suo
/Kf.Redis/obj
/HttpHelperV2.1/*.suo
