body {
    padding:10px;
}
.lr-desktop-panel {
    position:relative;
    width:100%;
    height:100%;
    background-color:#fff;
    border: 1px solid #ccc;
    padding:0px 22px;
}
.portal-panel-title
{
    padding-top: 10px;
    line-height: 45px;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    color: #666;
    font-weight: 300;
    font-size: 16px;
}
.portal-panel-content {
    position:relative;
    width:100%;
    padding:20px 5px 5px 5px;
}
.lr-item-20 {
    position:relative;
    float:left;
    width:20%;
    padding:10px;
}
.task-stat {
    position:relative;
    height:104px;
    width:100%;
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
    overflow: hidden;
    color: #FFFFFF;
    
}
.task-stat .visual {
    position:absolute;
    top:0;
    left:0;
    padding:10px 0 0 10px;
}
.task-stat .visual > i {
    color: #FFFFFF;
    opacity: 0.4;
    filter: alpha(opacity=10);
    font-size: 60px;
    line-height: 65px;
}
.task-stat .details {
    position: absolute;
    right: 10px;
    top:10px;
}
.task-stat .details .number {
    text-align: right;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -1px;
    margin-bottom: 0px;
    font-weight: 300;
}
.task-stat .details .desc {
    text-align: right;
    font-size: 15px;
    padding-top: 5px;
}
.task-stat .more {
    display: block;
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    clear: both;
    padding: 4px 10px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 10px;
    opacity: 0.7;
    filter: alpha(opacity=70);
    text-decoration: none;
    color: #FFFFFF;
}
.task-stat .more > i {
    display: inline-block;
    margin-top: 0px;
    float: right;
    font-size: 15px;
}
.task-stat .more:hover {
    text-decoration: none;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.lr-msg-line {
    position:relative;
    width:100%;
    line-height: 39px; 
    border-bottom: 1px solid #ccc;
}
.lr-msg-line > a {
    cursor:pointer;
}
.lr-msg-line > label {
    position:absolute;
    top:0;
    right:0;
    margin-bottom: 0px;
}
.lr-chart-container {
    position:relative;
    height:400px;
    width:100%;
}
