@{
    ViewBag.Title = "测试主从表";
    Layout = "~/Views/Shared/_GirdForm.cshtml";
}
<style>
    .jfgrid-data-cell {
        border-bottom: 1px solid #ddd;
        border-right: 1px solid #ddd;
    }
</style>
<div class="lr-form-wrap" id="form">
    <div class="col-xs-12 lr-form-item"  data-table="LR_Demo_TestCustmerFormp" >
        <div class="lr-form-item-title">名称<font face="宋体">*</font></div>
        <input id="F_Name" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 lr-form-item"  data-table="LR_Demo_TestCustmerFormp" >
        <div class="lr-form-item-title">开始时间<font face="宋体">*</font></div>
        <input id="F_Begin" type="text" class="form-control lr-input-wdatepicker" onfocus="WdatePicker({ onpicked: function () { $('#F_Begin').trigger('change'); } })"  isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 lr-form-item"  data-table="LR_Demo_TestCustmerFormp" >
        <div class="lr-form-item-title">结束时间<font face="宋体">*</font></div>
        <input id="F_End" type="text" class="form-control lr-input-wdatepicker" onfocus="WdatePicker({ onpicked: function () { $('#F_End').trigger('change'); } })"  isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-12 lr-form-item"  data-table="LR_Demo_TestCustmerFormp" >
        <div class="lr-form-item-title">类型</div>
        <div id="F_Kind"  ></div>
    </div>
    <div class="col-xs-12 lr-form-item"  data-table="LR_Demo_TestCustmerFormp" >
        <div class="lr-form-item-title">附件</div>
        <div id="F_File"  ></div>
    </div>
    <div class="col-xs-12 lr-form-item"  data-table="LR_Demo_TestCustmerFormp" >
        <div class="lr-form-item-title">备注信息</div>
        <textarea id="F_Des" class="form-control" style="height:40px;"  ></textarea>
    </div>
    <div class="col-xs-12 lr-form-item lr-form-item-grid" >
        <div id="LR_Demo_TestCustmerFormc"></div>
    </div>
</div>
@Html.AppendJsFile("/Areas/LR_CodeDemo/Views/DemoPC/Form.js")
